<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--Html.ActionLink("Posts", "Posts", "Posts", new { area = "" }, new { class = "navbar-brand" })-->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="\Home\Contact">Contact Us</a></li>

                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <li class="nav-item"><a href="\Users\Login">Log in</a></li>
                        <li class="nav-item"><a href="\Users\Registration">Register</a></li>
                        <li class="nav-item"><a href="\Files\Files">File Repository</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a href="\Files\Files">File Repository</a></li>
                        if (User.IsInRole("Admin"))
                        {
                            <li><a href="\Users\List">All Users</a></li>
                        }

                    }
                </ul>
                @{
                    string fullName = "Guest";
                    string userId = "";
                    if (User.Identity.IsAuthenticated)
                    {
                        var myloggedInUser = new Programmesana_Sanija_Airita.Controllers.DataAccess.UsersRepository().GetUserByUsername(User.Identity.Name);
                        fullName = myloggedInUser.Name + " " + myloggedInUser.Surname;
                        userId = myloggedInUser.Username;
                    }
                }
                @if (User.Identity.IsAuthenticated == false)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="\Users\Login">@fullName</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="\Users\EditProfile?id=@userId">@fullName</a></li>
                        <li class="nav-item"><a href="\Users\Logout">Log out</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h5 style="text-align:center">&copy; @DateTime.Now.Year - Sanija Boitmane and Airita Tirša</h5>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
