@model Programmesana_Sanija_Airita.Models.File

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluaid" id="info">
    <div class="container">
        <div style="float: right; margin-right: 30px; ">
            <a href="/Files/Edit?id=@Model.id"><img src="~/Style/Edit.png" style="height:30px; width: auto; margin:5px;" alt="Edit" /></a>
            <a href="/Files/Delete?id=@Model.id" onclick="return window.confirm('Do You really want to delete file?')"><img src="~/Style/delete.png" style="height:30px; width: auto; margin:5px;" alt="Delete" /></a>
        </div>
        <h3 style="text-align:center; padding-top:20px;">@Html.DisplayFor(model => model.Title)</h3>
        <hr />

        @{
            var uploadCount = 0;
        }

        @foreach (var f in new Programmesana_Sanija_Airita.Controllers.DataAccess.FilesRepository().GetUploadForFiles(Model.id))
        {
            uploadCount = Model.Uploads.Count;

            var cipher = f.Path;

            <div class="text-center">

                @if (cipher != null)
                {

                    <iframe src='~/Uploads/@cipher' width='700px' height='600px' frameborder='0'>@f.Path</iframe>
                    <br />
                    <a href="/File/Download?id=@cipher"><img src="~/Style/Download.png" style="height:30px; width: auto; margin:10px;" alt="Download" /></a>

                    <br />

                }
                <br>
            </div>
        }

        <div style="text-align:center; margin:80px">
            @if (uploadCount == 0)
            {
                @Html.ActionLink("Upload file", "Upload", new { id = Model.id })
            }
        </div>

    </div>
    <div style="text-align:center;">
        <h4>Description</h4>
        <hr />
        <p>@Html.DisplayFor(model => model.Description)</p>
        <br />
        <h4>File category</h4>
        <hr />
        <p>@Html.DisplayFor(model => model.Category.Name)</p>
        <br />
        <h4>File creator</h4>
        <hr />
        <p>@Html.DisplayFor(model => model.User.Name) @Html.DisplayFor(model => model.User.Surname)</p>
    </div>
    <div style="text-align:right;">

        @Html.DisplayFor(model => model.Date)

    </div>
    <p>
        @Html.ActionLink("Back to files", "Files")
    </p>
</div>
