@model IEnumerable<Programmesana_Sanija_Airita.Models.User>

@{
    ViewBag.Title = "List";
}

<div class="jumbotron jumbotron-fluid" style="background:rgb(255, 204, 0);">
    <div class="container" style="text-align:center;">
        <h1 class="display-4">All Users</h1>

    </div>
</div>


<div id="info">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blocked)
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blocked)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProfile", new { username = item.Username }) |
                </td>
            </tr>
        }

    </table>
</div>
