@model Programmesana_Sanija_Airita.Models.User

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid" style="background:rgb(255, 204, 0);">
    <div class="container" style="text-align:center;">
        <h1 class="display-4">Profile details</h1>
    </div>
</div>

<div id="info">
    <div style="float: right; margin-right: 30px; ">
        <a href="/Users/Edit?id=@Model.Username"><img src="~/Style/Edit.png" style="height:30px; width: auto; margin:5px;" alt="Edit" /></a>
    </div>
        <h4>Name and surname</h4>
        <hr />
        <p>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</p>
        <br />
        <h4>Username</h4>
        <hr />
        <p>@Html.DisplayFor(model => model.Username)</p>
        <br />
        <h4>Email</h4>
        <p>@Html.DisplayFor(model => model.Email)</p>
        <br />
        <h4>Active status</h4>
        <p>@Html.DisplayFor(model => model.Active)</p>
        <p>
            @Html.ActionLink("Back to files", "Files")
        </p>
    </div>

